@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(161, 200, 223);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 4rem;
  border-bottom: 1px dashed crimson;
}
.btn {
  background-color: rgb(185, 202, 88);
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1.2rem;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: none;
}
